.wrapper_with_padding
	#banner
		.banner_content
			%h1 Startup Jobs
			%p Your online job place. All local jobs in one place.
			%button= link_to "Sign Up", new_user_registration_path
			%button= link_to "View Jobs", jobs_path
	#testimonial
		.wrapper
			%p.quote "The greatest job application. Period."
			%p.name - taylor cooney