#filter {
	.nav {
		margin: 5rem 0 2rem;
		border-bottom: 1px solid $light_gray;
		li {
			display: inline-block;
			list-style: none;
			padding-bottom: 1rem;
		    font-size: 1.2rem;
		}
		a {
			text-decoration: none;
			padding-right: 2rem;
			color: #767676;
		    font-weight: 700;
			&:hover {
				color: $red;
			}
		}
	}
}
.section_header {
	color: #767676;
	margin: 1rem 0;
	font-size: 1em;
	font-weight: 700;
}

#featured_jobs {
	.job {
		background: white;
	    border: 1px solid #dce0e0;
	    -webkit-border-radius: 4px;
	    -moz-border-radius: 4px;
	    border-radius: 4px;
	    -webkit-box-shadow: 0 1px 3px 0 #dce0e0;
	    -moz-box-shadow: 0 1px 3px 0 #dce0e0;
	    box-shadow: 0 1px 3px 0 #dce0e0;
		width: 30%;
		min-height: 150px;
		margin: 1rem 1%;
		padding: 1.5rem 2.5%;
		float: left;
		font-weight: 700;
		border-radius: .2rem;
		position: relative;
		.title {
			@include bold_font;
			color: $red;
			margin: 0;
			letter-spacing: 1px;
			font-size: 1em;
		}
		.company {
			display: inline-block;
			color: #767676;
			font-size: .75rem;

		}
		.job_url {
			display: inline-block;
			float: right;
			color: #767676;
			font-size: .75rem;

		}
		.date {
			position: absolute;
			bottom: .25rem;
			left: 8.5%;
			color: #767676;
			font-size: .75rem;

		}
	}
}

#list_jobs {
	ol {
		padding: 0;
	}
	li {
		list-style: none;
		transition: all 0.25s ease 0s;
		&:hover {
			background-color: #eee;
		}
	}
	.list_job_group_date {
		padding: 1rem 0;
		color: #767676;
	    margin: 1rem 0;
	    font-size: 1em;
	    font-weight: 700;
	}
	.job {
		display: block;
		padding: 1.5rem 1%;
		border-bottom: 1px solid #dce0e0;
		position: relative;
		font-weight: 700;
		.title {
			@include bold_font;
			color: $red;
			margin: 0;
			letter-spacing: 1px;
			font-size: 1em;
		}
		img {
			margin-right: 1rem;
		    border-radius: 3px;
		    width: 48px;
		    height: 48px;
		    float: left;
		}
		.company {
			display: inline-block;
			color: #767676;
			font-size: .75rem;
		}
		.job_url {
			display: inline-block;
			color: #767676;
			font-size: .75rem;
		}
	}
}

#job_show {
	.title {
		@include bold_font;
		font-size: 2.5rem;
		margin-bottom: 1.25rem;
		padding-bottom: 1rem;
		border-bottom: 1px solid #E9E9E9;
	}
	.company {
		color: black;
		font-size: .85rem;
	}
	.date {
		left: 8.5%;
		color: black;
		font-size: .85rem;
	}
	p {
		font-size: 1.375rem;
		line-height: 1.75;
	}
	.buttons {
		margin-top: 3rem;
		a.button {
			padding: .5rem 2rem;
			border-radius: 2rem;
			text-decoration: none;
			color: $red;
			border: 5px solid #E9E9E9;
			@include bold_font;
			background: transparent;
		}
	}
}

@media (max-width: 500px) {
	#featured_jobs {
		.job {
			width: 100%;
			.date {
				left: 2.5%;
			}
		}
	}
}